/* Efeito de gradiente animado no texto */
.gradient-color {
  background: linear-gradient(90deg,var(--color-contrast-1-dark), var(--color-contrast-1), var(--color-contrast-1-dark));
  background-size: 300% 100%; 
  background-position: 0% 50%;
  background-clip: text;
  color: transparent;
  animation: color-animated 6s ease-in-out infinite;
}
@keyframes color-animated {
  0%   { background-position: 0% 50%; }
  50%  { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

/*Efeitos de Fade*/
.fade {
    opacity: 0;
    transition: opacity var(--speed) ease, transform var(--speed) ease;
}
.fade.show {
    opacity: 1;
    transform: translate(0, 0);
}

.fade.slow { --speed: 1.2s; }
.fade.medium { --speed: 0.8s; }
.fade.fast { --speed: 0.4s; }

.fade-top {
    transform: translateY(-50px);
}
.fade-bottom {
    transform: translateY(50px);
}
.fade-left {
    transform: translateX(-50px);
}
.fade-right {
    transform: translateX(50px);
}