@media (max-width:820px) and (min-width:421px){
    /*Header*/
    #header{
        height: auto;
    }

    /*Menu*/
    nav{
        padding-right:0px ;
    }
    .mn-mobile{
        display: flex;
    }
    #menu{
        position: fixed;
        top: 0px;
        right: 0px;
        width: 0%;
        height: 100%;
        padding-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        background-color: var(--color-dark);
        gap: 0px;  
        transition: all ease .3s;
    }
    #menu li a{
        display: block;
        width: 100dvw;
        padding: 25px 10px;
    }

    /*Hero-Area*/
    .hero-area{
        padding: 30px 0px;
    }
    .hero-area h1{
        font-size: 72px;
    }
    .hero-area h2{
        font-size: 38px;
    }
    .hero-cta{
        width: 100%;
        flex-direction: column;
        align-items: center;
        gap: 2px;
    }
    .hero-cta .cta{
        width: 100%;
        max-width: 280px;
        justify-content: center;
    }

    /*Sobre*/
    #sobre .container{
        flex-direction: column;
    }
}

@media (max-width:490px){
    #header{
        height: auto;
    }
    /*Menu*/
    nav{
        padding-right:0px ;
    }
    .mn-mobile{
        display: flex;
    }
    #menu{
        position: fixed;
        top: 0px;
        right: 0px;
        width: 0%;
        height: 100%;
        padding-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        background-color: var(--color-dark);
        gap: 0px;
        transition: width ease 0.3s;
    }
    #menu li a{
        display: block;
        width: 100dvw;
        padding: 25px 10px;
    }

    /*Hero-Area*/
    .hero-area{
        padding: 30px 5px;
    }
    .hero-area h1{
        font-size: 56px;
    }
    .hero-area h2{
        font-size: 26px;
    }
    .hero-cta{
        width: 100%;
        flex-direction: column;
        align-items: center;
        gap: 2px;
    }
    .hero-cta .cta{
        width: 100%;
        max-width: 280px;
        justify-content: center;
    }

    

    /*Sobre*/
    #sobre .container{
        flex-direction: column;
        padding: 50px 0px;
    }
    .sobre-left,
    .sobre-right{
        padding: 15px 15px;
    }
    .sobre-left h2{
        font-size: 28px;
        text-align: center;
    }
    .sobre-left p{
        text-align: center;
    }
    .sobre-left .sobre-ctaArea{
        flex-direction: column;
        align-items: center;
    }
    .sobre-ctaArea .cta{
        width: 100%;
        max-width: 280px;
        justify-content: center;
    }

    .sobre-right{
        padding: 0px;
    }
    .sobre-imgArea{
        width: 300px;
        height: 300px;
    }
}