@media (max-width:1020px) and (min-width:701px){
    /*Header*/
    #header{
        height: auto;
    }

    /*Menu*/
    nav{
        padding-right:0px ;
    }
    .mn-mobile{
        display: flex;
    }
    #menu{
        position: fixed;
        top: 0px;
        right: 0px;
        width: 0%;
        height: 100%;
        padding-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        background-color: var(--color-dark);
        gap: 0px;  
        transition: all ease .3s;
    }
    #menu li a{
        display: block;
        width: 100dvw;
        padding: 25px 10px;
    }

    /*Hero-Area*/
    .hero-area{
        padding: 30px 0px;
    }
    .hero-area h1{
        font-size: 72px;
    }
    .hero-area h2{
        font-size: 38px;
    }
    .hero-cta{
        width: 100%;
        flex-direction: column;
        align-items: center;
        gap: 2px;
    }
    .hero-cta .cta{
        width: 100%;
        max-width: 280px;
        justify-content: center;
    }

    /*Sobre*/
    #sobre .container{
        flex-direction: column;
    }

    .sobre-imgArea{
        width: 350px;
        height: 350px;
    }
    .sobre-right{
        justify-content: center;
    }

    /*Projetos*/
    .projetos-grid-area{
        grid-template-columns: repeat(2, auto);

    }

    /*Contato*/
    .contato-content{
        flex-direction: column;
    }
}

@media (max-width:700px){
    #header{
        height: auto;
    }
    /*Menu*/
    nav{
        padding-right:0px ;
    }
    .mn-mobile{
        display: flex;
    }
    #menu{
        position: fixed;
        top: 0px;
        right: 0px;
        width: 0%;
        height: 100%;
        padding-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        background-color: var(--color-dark);
        gap: 0px;
        transition: width ease 0.3s;
    }
    #menu li a{
        display: block;
        width: 100dvw;
        padding: 25px 10px;
    }

    /*Hero-Area*/
    .hero-area{
        padding: 30px 5px;
    }
    .hero-area h1{
        font-size: 56px;
    }
    .hero-area h2{
        font-size: 26px;
    }
    .hero-cta{
        width: 100%;
        flex-direction: column;
        align-items: center;
        gap: 2px;
    }
    .hero-cta .cta{
        width: 100%;
        max-width: 280px;
        justify-content: center;
    }

    

    /*Sobre*/
    #sobre .container{
        flex-direction: column;
        padding: 50px 0px;
    }
    .sobre-left,
    .sobre-right{
        padding: 15px 15px;
    }
    .sobre-left h2{
        font-size: 28px;
        text-align: center;
    }
    .sobre-left p{
        text-align: center;
    }
    .sobre-left .sobre-ctaArea{
        flex-direction: column;
        align-items: center;
    }
    .sobre-ctaArea .cta{
        width: 100%;
        max-width: 280px;
        justify-content: center;
    }

    .sobre-right{
        padding: 0px;
        justify-content: center;
    }
    .sobre-imgArea{
        width: 270px;
        height: 270px;
    }

    /*Projetos*/
    .projetos-title{
        margin-bottom: 20px;
    }
    .projetos-title h2{
        font-size: 28px;
        text-align: center;
    }
    .projetos-title h3{
        font-size: 16px;
        text-align: center;
    }
    .projetos-grid-area{
        grid-template-columns: repeat(1, auto);
        gap: 50px;
    }
    .grid-item{
        width: 280px;
    }
    .projetos-modal{
        padding: 15px;
    }
    .modal-area{
        width: 100%;
        max-height: 85%;
        background-size: cover;
        background-position:  top center;
    }
    .modal-infos{
        padding: 15px;
    }
    .modal-infos h3{
        font-size: 20px;
    }
    .modal-infos p{
        margin-bottom: 10px;
    }

    /*Modal*/
    .modal-tec-grid{
        grid-template-columns: repeat(1, 150px);
        justify-content: center;
    }
    

    /*Contato*/
    .contato-content{
        flex-direction: column;
        padding: 20px 0px;    }
    .social-content{
        grid-template-columns: repeat(1, 300px);
        justify-content: center;
    }
    .contato-social-item,
    .info-item {
        border-left: 1px solid var(--color-contrast-1);
    }
    .infos-content{
        justify-content: center;
    }
}