/*Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Anek+Latin:wght@100..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/*Variaveis*/
:root{
    --font-default:"Anek Latin";
    --font-contrast:"Raleway";
    --color-dark:#161616;
    --color-light:#fffffc;
    --color-contrast-1:#44db9c;
    --color-contrast-1-dark:#237955;
}

/*Presets Iniciais*/
*{
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0px;
    padding: 0px;
}
body{
    color: var(--color-light);
    background-color: var(--color-dark);
    font-size: 16px;
    line-height: 1.6;
    font-weight: 400;
    overflow-x: hidden;
    font-family: var(--font-default);
}
a{
    text-decoration: none;
    color: var(--color-light);
}
li{
    list-style: none;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}


/*Elementos padrões*/
.container{
    width: 100%;
    max-width: 1440px;
    height: 100%;
    margin: auto;
    padding: 30px;
    display: flex;
}

.cta{
    display: inline-flex;
    align-items: center;
    padding: 6px 25px;
    margin: 15px 0px;
    border: 1px solid var(--color-contrast-1);
    border-radius: 20px;
    font-size: 16px;
    font-family: var(--font-contrast);
    transition: all ease 0.5s;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 0px 5px  var(--color-contrast-1);
}
.cta::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: rgba(68, 219, 156, 0.1);
    transition: all ease 0.5s;
}
.cta:hover::after{
    width: 100%;
}
.cta span{
    margin-left: 10px;
    transition: transform .3s ease; /* ESSENCIAL */
}
.cta:hover span{
    transform: translateX(5px);
}

/*Header*/
#header{
    width: 100%;
    height: 90dvh;
    background: url(../midia/header-bg.png);
    background-size: cover;
    background-position:  center;
    background-attachment: fixed;
}
#header .container{
    padding: 0px;
    flex-direction: column;
}


/*Menu*/
nav{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    background-color: var(--color-dark);
    border-bottom: 1px solid #272727;
    position: fixed;
    z-index: 10;
}
.logo{
    padding: 15px;
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 25px;
    font-family: var(--font-contrast);
    font-weight: 600;
}
.mn-mobile{
    display: none;
    flex-direction: column;
    padding: 10px;
    background-color: transparent;
    border: 0px;
    cursor: pointer;
    z-index: 1;
    gap: 5px;
}
.mn-bar{
    width: 28px;
    height: 2px;
    background-color: var(--color-light);
    transition: .3s ease; 
}
.mn-mobile.active .mn-bar:nth-child(1){
    transform: rotate(45deg) translate(5px, 5px);
    width: 22px;
}

.mn-mobile.active .mn-bar:nth-child(2){
    opacity: 0;
}

.mn-mobile.active .mn-bar:nth-child(3){
    transform: rotate(-45deg) translate(5px, -5px);
    width: 22px;
}
#menu{
    display: flex;
    align-items: center;
    height: 100%;
    gap: 25px;
}
#menu.showMobile{
    width: 70%;
    max-width: 320px;
}
#menu li a{
    display: inline-block;
    align-items: center;
    padding: 3px  0px;
    height: 100%;
    color: #cecece;
    position: relative;
    transition: .5s ease;
}
#menu li a:hover{
    color: var(--color-light);
}
#menu li a::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background: var(--color-contrast-1); 
    transition: .3s ease;
}
#menu li:hover a::after{
    width: 100%;
}




/*Hero area*/
.hero-area{
    flex: 1;
    margin-top: 100px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.hero-area span{
    font-size: 18px;
    font-weight: 600;
    font-family: var(--font-contrast);
}
.hero-area h1{
    line-height: 1.2;
    font-size: 92px;
    font-family: var(--font-contrast);
    font-weight: 300;
}
.hero-area h2{
    font-size: 52px;
    font-family: var(--font-contrast);
    font-weight: 500;
   
}
.hero-area p{
    margin: 20px 0px;
    max-width: 550px;
    font-size: 18px;
}
.hero-cta{
    display: flex;
    gap: 20px;
}




/*Sobre*/
#sobre .container{
 justify-content: space-between;
 padding:50px 30px;
}
.sobre-left,
.sobre-right{
    padding: 15px;
    display: flex;
}

.sobre-left{
    flex: 1;
    flex-direction: column;
}
.sobre-left h2{
    font-family: var(--font-contrast);
    font-weight: 600;
    font-size: 32px;
    margin-bottom: 30px;
}
.sobre-left h2 span{
    display: inline-flex;
    padding: 5px;
}
.sobre-left p{
    margin-bottom: 10px;
    font-size: 16px;
}
.sobre-left p::first-letter{
    font-size: 22px;
    text-transform: uppercase;
}
.sobre-left .sobre-ctaArea{
    margin: 20px 0px;
    display: flex;
    gap: 20px;
}

.sobre-right{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.sobre-imgArea{
    width: 450px;
    height: 450px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    background-color:var(--color-contrast-1-dark);
    padding: 20px;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.3s ease;
}
.sobre-imgArea img{
    max-width: 100%;
    transition: all 0.3s ease;
    transform: scale(1.5);
}
.sobre-imgArea:hover img {
    transform: scale(1.7) rotate(-4deg);
}