/*Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Anek+Latin:wght@100..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/*Variaveis*/
:root{
    --font-default:"Anek Latin";
    --font-contrast:"Raleway";
    --color-dark:#161616;
    --color-light:#fffffc;
}

/*Presets Iniciais*/
*{
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0px;
    padding: 0px;
}
body{
    color: var(--color-light);
    background-color: var(--color-dark);
    font-size: 16px;
    line-height: 1.6px;
    font-weight: 400;
    font-family: var(--font-default);
}
a{
    text-decoration: none;
    color: var(--color-light);
}
li{
    list-style: none;
}
/*Elementos padrões*/
.container{
    width: 100%;
    max-width: 1440px;
    height: 100%;
    margin: auto;
    padding: 20px;
}

/*Header*/
#header{
    width: 100%;
    height: 90dvh;
    background: url(../midia/header-bg.png);
    background-size: cover;
    background-position:  center;
    background-attachment: fixed;
}
#header .container{
    padding: 0px;
    display: flex;
    flex-direction: column;
}

/*Menu*/
nav{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    background-color: transparent;
    border-bottom: 1px solid #272727;
}
.logo{
    padding: 15px;
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 25px;
    font-family: var(--font-contrast);
    font-weight: 600;
}
.mn-mobile{
    display: none;
    flex-direction: column;
    padding: 10px;
    background-color: transparent;
    border: 0px;
    cursor: pointer;
    z-index: 1;
    gap: 5px;
}
.mn-bar{
    width: 28px;
    height: 2px;
    background-color: var(--color-light);
    transition: .3s ease; /* ← A transição TEM que estar aqui */
}
/* quando ativo */
.mn-mobile.active .mn-bar:nth-child(1){
    transform: rotate(45deg) translate(5px, 5px);
    width: 22px;
}

.mn-mobile.active .mn-bar:nth-child(2){
    opacity: 0;
}

.mn-mobile.active .mn-bar:nth-child(3){
    transform: rotate(-45deg) translate(5px, -5px);
    width: 22px;
}
#menu{
    display: flex;
    align-items: center;
    height: 100%;
    gap: 25px;
    transition: all ease .3s;
}
#menu.show{
    width: 70%;
    max-width: 320px;
}
#menu li a{
    display: inline-block;
    align-items: center;
    padding: 15px  0px;
    height: 100%;
    color: #cecece;
    position: relative;
    transition: .5s ease;
}
#menu li a:hover{
    color: var(--color-light);
}
#menu li a::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background: var(--color-light); 
    transition: .3s ease;
}
#menu li:hover a::after{
    width: 100%;
    color: var(--color-dark);
}