/*Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Anek+Latin:wght@100..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/*Variaveis*/
:root{
    --font-default:"Anek Latin";
    --font-contrast:"Raleway";
    --color-dark:#161616;
    --color-light:#ffffff;
    --color-contrast-1:#44db9c;
    --color-contrast-1-dark:#237955;
}

/*Presets Iniciais*/
*{
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0px;
    padding: 0px;
}

body{
    color: var(--color-light);
    background-color: var(--color-dark);
    font-size: 16px;
    line-height: 1.6;
    font-weight: 400;
    font-family: var(--font-default);
    overflow-x: clip; /* bloqueia sem permitir scroll */
}
a{
    text-decoration: none;
    color: var(--color-light);
}
li{
    list-style: none;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

/*Elementos padrões*/
.container{
    width: 100%;
    max-width: 1440px;
    height: 100%;
    margin: auto;
    padding: 30px;
    display: flex;
}

.cta{
    display: inline-flex;
    align-items: center;
    padding: 6px 25px;
    margin: 15px 0px;
    border: 1px solid var(--color-contrast-1);
    border-radius: 20px;
    color: var(--color-light);
    background-color: transparent;
    font-size: 14px;
    font-family: var(--font-contrast);
    transition: all ease 0.5s;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.cta::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: var(--color-contrast-1);
    transition: all ease 0.5s;
    z-index: -1;
}
.cta:hover::after{
    width: 100%;
}
.cta span{
    margin-left: 10px;
    transition: transform .3s ease; 
}
.cta:hover span{
    transform: translateX(5px);
}

/* Efeito de gradiente animado no texto */
.gradient-color {
  background: linear-gradient(90deg,var(--color-contrast-1-dark), var(--color-contrast-1), var(--color-contrast-1-dark));
  background-size: 300% 100%; 
  background-position: 0% 50%;
  background-clip: text;
  color: transparent;
  animation: color-animated 6s ease-in-out infinite;
}
@keyframes color-animated {
  0%   { background-position: 0% 50%; }
  50%  { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

/*Efeitos de Fade*/
.fade {
    opacity: 0;
    transition: opacity var(--speed) ease, transform var(--speed) ease;
}
.fade.show {
    opacity: 1;
    transform: translate(0, 0);
}

.fade.slow { --speed: 1.2s; }
.fade.medium { --speed: 0.8s; }
.fade.fast { --speed: 0.4s; }

.fade-top {
    transform: translateY(-50px);
}
.fade-bottom {
    transform: translateY(50px);
}
.fade-left {
    transform: translateX(-50px);
}
.fade-right {
    transform: translateX(50px);
}

/*Efeito do slide infinito de skills*/
@keyframes move-skills {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

/*Header*/
#header{
    width: 100%;
    height: 90dvh;
    max-height: 1000px;
    background: url(../midia/header-bg.png);
    background-size: cover;
    background-position:  center;
    background-attachment: fixed;
}
#header .container{
    padding: 0px;
    flex-direction: column;
}


/*Menu*/
nav{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    background-color: var(--color-dark);
    border-bottom: 1px solid #272727;
    position: fixed;
    z-index: 5;
}
.logo{
    padding: 15px;
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 25px;
    font-family: var(--font-contrast);
    font-weight: 600;
}
.mn-mobile{
    display: none;
    flex-direction: column;
    padding: 10px;
    background-color: transparent;
    border: 0px;
    cursor: pointer;
    z-index: 1;
    gap: 5px;
}
.mn-bar{
    width: 28px;
    height: 2px;
    background-color: var(--color-light);
    transition: .3s ease; 
}
.mn-mobile.active .mn-bar:nth-child(1){
    transform: rotate(45deg) translate(5px, 5px);
    width: 22px;
}

.mn-mobile.active .mn-bar:nth-child(2){
    opacity: 0;
}

.mn-mobile.active .mn-bar:nth-child(3){
    transform: rotate(-45deg) translate(5px, -5px);
    width: 22px;
}
#menu{
    display: flex;
    align-items: center;
    height: 100%;
    gap: 25px;
}
#menu.showMobile{
    width: 70%;
    max-width: 320px;
}
#menu li a{
    display: inline-block;
    align-items: center;
    padding: 3px  0px;
    height: 100%;
    color: #cecece;
    position: relative;
    transition: .5s ease;
}
#menu li a:hover{
    color: var(--color-light);
}
#menu li a::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background: var(--color-contrast-1); 
    transition: .3s ease;
}
#menu li:hover a::after{
    width: 100%;
}




/*Hero area*/
.hero-area{
    flex: 1;
    margin-top: 100px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.hero-area span{
    font-size: 18px;
    font-weight: 600;
    font-family: var(--font-contrast);
}
.hero-area h1{
    line-height: 1.2;
    font-size: 92px;
    font-family: var(--font-contrast);
    font-weight: 300;
}
.hero-area p.sub-titulo{
    font-size: 52px;
    font-family: var(--font-contrast);
    font-weight: 500;
}
.hero-area p{
    margin: 20px 0px;
    max-width: 550px;
    font-size: 18px;
}
.hero-cta{
    display: flex;
    gap: 20px;
}




/*Sobre*/
#sobre .container{
 justify-content: space-between;
 padding:50px 30px;
}
.sobre-left,
.sobre-right{
    padding: 15px;
    display: flex;
}

.sobre-left{
    flex: 1;
    flex-direction: column;
}
.sobre-left h2{
    font-family: var(--font-contrast);
    font-weight: 600;
    font-size: 32px;
    margin-bottom: 30px;
}
.sobre-left h2 span{
    display: inline-flex;
    padding: 5px;
}
.sobre-left p{
    margin-bottom: 10px;
    font-size: 16px;
}
.sobre-left p::first-letter{
    font-size: 22px;
    text-transform: uppercase;
}
.sobre-left .sobre-ctaArea{
    margin: 20px 0px;
    display: flex;
    gap: 20px;
}

.sobre-right{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
}
.sobre-imgArea{
    width: 450px;
    height: 450px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    background-color:var(--color-contrast-1-dark);
    padding: 20px;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.3s ease;
}
.sobre-imgArea img{
    max-width: 100%;
    transition: all 0.3s ease;
    transform: scale(1.5);
}
.sobre-imgArea:hover img {
    transform: scale(1.7) rotate(-4deg);
}



/*Seção de Projetos*/
#projetos{
    background-color: #252525;
}
#projetos .container{
    flex-direction: column;
    align-items: center;
}
.projetos-title{
    width: 100%;
    margin-bottom: 50px;
}
.projetos-title h2{
    font-family: var(--font-contrast);
    font-weight: 600;
    font-size: 32px;
    margin-bottom: 15px;
}
.projetos-title h3{
    font-size: 18px;
    font-weight: 500;
}




 /*Grids*/
.projetos-grid-area{
    width: 100%;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, auto);
    gap: 20px;
    padding: 10px;
}
.grid-item{
    width: 350px;
    max-width: 350px;
    height: 370px;
    overflow: hidden;
    position: relative;
}
.grid-item img{
    object-fit: cover;
    object-position: top center;
    width: 100%;
    height: 100%;
    transition: .3 ease;
}
.grid-item-thumb{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(29, 29, 29, 0.8);
    padding: 30px;
    display: flex;
    flex-direction: column;
    opacity: 0;
    transition: ease .5s;
}
.grid-item-thumb h3{
    font-size: 22px;
    font-family: var(--font-contrast);
    margin-bottom: 10px;
}
.grid-item-thumb p{
    max-height: 150px;
    padding-bottom: 10px;
    overflow: hidden;
}
.grid-item-thumb .cta{
    width: max-content;
}
.grid-item:hover .grid-item-thumb{
    opacity: 1;
}




/*Modal*/
.projetos-modal{
    position: fixed;
    inset: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.90);
    padding: 30px;
    z-index: 10;
    opacity: 0;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.6s ease;
    overflow-y: hidden;
}
.projetos-modal.show{
    opacity: 1;
    pointer-events: auto;
}
.modal-area{
    width: 80dvw;
    max-height: 90dvh; 
    overflow-y: auto; 
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}
.modal-infos{
    padding: 30px;
    width: 100%;
    height: 100%;
    background-color: rgba(29, 29, 29, 0.8);
    backdrop-filter: blur(2px);
    cursor: auto;
}
.modal-infos h3{
    font-size: 22px;
    font-family: var(--font-contrast);
    margin-bottom: 10px;
}
.modal-infos p{
    max-width: 620px;
}
.modal-tec-area{
    width: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
}
.modal-tec-area h4{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
}
.modal-tec-grid{
    width: 100%;
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(6, 140px);
    justify-content: flex-start;
    gap: 20px;
}
.modal-grid-tec-item{
    padding: 10px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    background-color: var(--color-contrast-1-dark);
    user-select: none;
    transition: all .3s ease;
}
.modal-grid-tec-item:hover{
    transform: scale(0.95);
}


/*seção de skills*/
#skills{
    background-color: var(--color-dark);
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#skills .container{
    padding: 30px 0px;
}
.skills-slider{
    width: 100%;
    overflow: hidden;
}
.skills-slider-track{
    display: flex;
    width: max-content;
    animation: move-skills 15s linear infinite;
    transition: all linear .3s;
}
.skill-slide{
    width: 300px;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 1px solid var(--color-contrast-1-dark);
}
.skill-slide img{
    width: 50px;
    margin-bottom: 5px;
    transition: all 0.3 ease;
}
.skill-slide p{
    font-size: 22px;
    font-weight: 500;
    color:var(--color-contrast-1);
    transition: all 0.3 ease;
}



/*Contato*/
footer .container{
    flex-direction: column;
    background-color: #252525;
}
.contato-title{
    margin-bottom: 30px;
}
.contato-title h2{
    font-family: var(--font-contrast);
    font-weight: 600;
    font-size: 32px;
    margin-bottom: 15px;
}
.contato-title h3{
    font-size: 18px;
    max-width: 780px;
    font-weight: 500;
}
.contato-content{
    display: flex;
    padding: 20px;
    gap: 50px;
}

/*Redes sociais*/
.contato-social-area{
    flex: 1;
    display: flex;
    flex-direction: column;
}
.social-title{
    font-size: 20px;
    font-weight: 500;
    font-family: var(--font-contrast);
    margin-bottom: 30px;
}
.social-content{
    display: grid;
    grid-template-columns: repeat(2, 200px);
}
.contato-social-item{
    margin-bottom: 50px;
    padding: 15px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    cursor: pointer;
    transition: all .3s ease;
    border-right: 1px solid var(--color-contrast-1);
}
.contato-social-item:hover{
    background-color: var(--color-contrast-1-dark);
}
.contato-social-item span{
    margin-right: 15px;
    font-size: 18px;
    font-weight: 500;
}
.contato-social-item img{
    width: 50px;
    padding-right: 10px;
}

/*Informações de contato*/
.contato-infos-area{
    flex: 1;
    display: flex;
    flex-direction: column;
}
.infos-title{
    font-size: 20px;
    font-weight: 500;
    font-family: var(--font-contrast);
    margin-bottom: 30px;
}
.infos-content{
    display: flex
}
.info-item {
    padding: 15px 15px;
    width: max-content;
    display: flex;
    align-items: center;
    user-select: none;
    cursor: pointer;
    transition: all .3s ease;
    border-right: 1px solid var(--color-contrast-1);
}
.info-item:hover{
    background-color: var(--color-contrast-1-dark);
}
.info-item span{
    margin-right: 15px;
    font-size: 18px;
    font-weight: 400;
}
.info-item img{
    width: 50px;
    padding-right: 10px;
}

/*Copyright*/
footer .copyright {
    text-align: center;
    padding: 15px 0;
    opacity: 0.7;
    font-size: 14px;
}

/*Media querys*/
@media (max-width:1020px) and (min-width:701px){
    /*Header*/
    #header{
        height: auto;
        background-attachment: scroll;
    }

    /*Menu*/
    nav{
        padding-right:0px ;
    }
    .mn-mobile{
        display: flex;
    }
    #menu{
        position: fixed;
        top: 0px;
        right: 0px;
        width: 0%;
        height: 100%;
        padding-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        background-color: var(--color-dark);
        gap: 0px;  
        transition: all ease .3s;
    }
    #menu li a{
        display: block;
        width: 100dvw;
        padding: 25px 10px;
    }

    /*Hero-Area*/
    .hero-area{
        padding: 30px 0px;
    }
    .hero-area h1{
        font-size: 72px;
    }
    .hero-area h2{
        font-size: 38px;
    }
    .hero-cta{
        width: 100%;
        flex-direction: column;
        align-items: center;
        gap: 2px;
    }
    .hero-cta .cta{
        width: 100%;
        max-width: 280px;
        justify-content: center;
    }

    /*Sobre*/
    #sobre .container{
        flex-direction: column;
    }

    .sobre-imgArea{
        width: 350px;
        height: 350px;
    }
    .sobre-right{
        justify-content: center;
    }

    /*Projetos*/
    .projetos-grid-area{
        grid-template-columns: repeat(2, auto);

    }

    /*Contato*/
    .contato-content{
        flex-direction: column;
    }
}

@media (max-width:700px){
    #header{
        height: auto;
        background-attachment: scroll;
    }
    /*Menu*/
    nav{
        padding-right:0px ;
    }
    .mn-mobile{
        display: flex;
    }
    #menu{
        position: fixed;
        top: 0px;
        right: 0px;
        width: 0%;
        height: 100%;
        padding-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        background-color: var(--color-dark);
        gap: 0px;
        transition: width ease 0.3s;
    }
    #menu li a{
        display: block;
        width: 100dvw;
        padding: 25px 10px;
    }

    /*Hero-Area*/
    .hero-area{
        padding: 30px 5px;
    }
    .hero-area h1{
        font-size: 56px;
    }
    .hero-area h2{
        font-size: 26px;
    }
    .hero-cta{
        width: 100%;
        flex-direction: column;
        align-items: center;
        gap: 2px;
    }
    .hero-cta .cta{
        width: 100%;
        max-width: 280px;
        justify-content: center;
    }

    

    /*Sobre*/
    #sobre .container{
        flex-direction: column;
        padding: 50px 0px;
    }
    .sobre-left,
    .sobre-right{
        padding: 15px 15px;
    }
    .sobre-left h2{
        font-size: 28px;
        text-align: center;
    }
    .sobre-left p{
        text-align: center;
    }
    .sobre-left .sobre-ctaArea{
        flex-direction: column;
        align-items: center;
    }
    .sobre-ctaArea .cta{
        width: 100%;
        max-width: 280px;
        justify-content: center;
    }

    .sobre-right{
        padding: 0px;
        justify-content: center;
    }
    .sobre-imgArea{
        width: 270px;
        height: 270px;
    }

    /*Projetos*/
    .projetos-title{
        margin-bottom: 20px;
    }
    .projetos-title h2{
        font-size: 28px;
        text-align: center;
    }
    .projetos-title h3{
        font-size: 16px;
        text-align: center;
    }
    .projetos-grid-area{
        grid-template-columns: repeat(1, auto);
        gap: 50px;
    }
    .grid-item{
        width: 280px;
    }
    .projetos-modal{
        padding: 15px;
    }
    .modal-area{
        width: 100%;
        max-height: 85%;
        background-size: cover;
        background-position:  top center;
    }
    .modal-infos{
        padding: 15px;
    }
    .modal-infos h3{
        font-size: 20px;
    }
    .modal-infos p{
        margin-bottom: 10px;
    }

    /*Modal*/
    .modal-tec-grid{
        grid-template-columns: repeat(1, 150px);
        justify-content: center;
    }
    

    /*Contato*/
    .contato-content{
        flex-direction: column;
        padding: 20px 0px;
    }
    .social-content{
        grid-template-columns: repeat(1, 300px);
        justify-content: center;
    }
    .contato-social-item,
    .info-item {
        border-left: 1px solid var(--color-contrast-1);
    }
    .infos-content{
        justify-content: center;
    }
}